version: "3.9"

services:

  backend:
    build: ./backend
    container_name: backend
    env_file:
      - ./backend/.env
    expose:
      - "5000"   # only internal docker network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
